*.class

# Package Files #
*.jar
*.war
*.ear
/SVGraphics/nbproject/private/
/SVSierpinkski/nbproject/private/
/SVSierpinkski/build/
/SVSierpinkski/dist/
.DS_Store

cs56-discretemath-towers-sierpinski.xcodeproj/project.pbxproj

*.xcworkspacedata

*.xcuserstate

*.xcscheme

*.plist

src/edu/.DS_Store

src/.DS_Store

src/.DS_Store
